node_modules
node_modules/.yarn-integrity
.browser_modules

lib

*.log

workflow/browser-app/ 

workflow/workflow-standalone/app/bundle.js
workflow/workflow-standalone/app/bundle.js.map
!workflow/browser-app/package.json 
