name: CI

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-workflow-example:
    name: Build workflow example
    timeout-minutes: 60
    runs-on:  ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '20.x'
      - name: Build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        run: yarn build:workflow

  build-node-json-theia:
    name: Build node-json-theia
    timeout-minutes: 60
    runs-on:  ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '20.x'
      - name: Build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        run: yarn build:node-json-theia

  build-node-json-vscode:
    name: Build node-json-vscode
    timeout-minutes: 60
    runs-on:  ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '20.x'
      - name: Build
        run: yarn build:node-json-vscode

  build-java-emf-theia:
    name: Build java-emf-theia
    timeout-minutes: 60
    runs-on:  ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '20.x'
      - name: Set up JDK
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        run: yarn build:java-emf-theia

  build-java-emf-eclipse:
    name: Build java-emf-eclipse
    timeout-minutes: 60
    runs-on:  ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: '20.x'
      - name: Set up JDK
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Build
        run: yarn build:java-emf-eclipse
